.container{
    background-color: hsl(217, 54%, 11%);
    display: flex;
}
.container-fluid{
    align-items: center;
    justify-content: center;
}

/* ==========
    Header
   =========== */
.header{
    border: 1px solid red;
}

/* ==========
   MAIN
   =========== */
.main{
    border: 1px solid white;
}

/* ==========
    Footer
   =========== */
.footer{
    border: 1px solid red;
}