.container{
    background-color: hsl(217, 54%, 11%);
   
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    border: 1px solid rgb(218, 207, 230);
}
.sub-container{
    border: 1px solid rgb(199, 38, 38);
    width: 38%;
    /* height: 60%; */
}
/* ==========
    Header
   =========== */
.header{
    border: 1px solid red;
}
.view img{
    width: 100%;
    height: 100%;
}
#header_img_img{
    display: none;
}

/* ==========
   MAIN
   =========== */
.main{
    border: 1px solid white;
}
.main_text{
    color: aliceblue;
}
.main_offer{
    display: flex;
    justify-content: space-between;
}
.left, .right{
    display: flex;
    border: 1px solid red;
    flex: 1;
}
.right {
    align-items: flex-end;
}
.left img , .right img{
    height: 50%;
    padding: 5px;
}

/* ==========
    Footer
   =========== */
.footer{
    /* border: 1px solid red; */
}